@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */

:root {
  --background: #EFEFEF;
  --background: white;
  --foreground: black;
}

/* TODO: apply for setting prefres color according to browser's appearance   */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #5f2c2c;
    --foreground: #ededed;
  }
} */

/* Apply when .dark class is present on the html element */
html.dark {
  --background: #111827;  
  --foreground: white;  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.h2-heading {
  /* @apply text-2xl md:text-3xl font-bold my-10 text-center text-[#008082] dark:text-[#00b3b3]; */
  @apply text-2xl md:text-3xl font-bold my-10 text-center text-[#193555] dark:text-[#00b3b3];
}
